
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
}


.container{
    position: relative;
    background-color: #F7F8F9;
    height: 812px;
    width: 375px;
    margin-left: 38%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2{
    position: absolute;
    top: 40px;
    left: 20px;
    width: 188px;
    height: 69px;
    color: #1D2226;
    font-size: 28px;
    font-family: 'Rubik', sans-serif;

}

.nameInput{

    position: absolute;
    top: 131px;
    left: 20px;
    width: 325px;
    height: 49px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding-left: 10px;

}

span{
    color: #DD4A3D;
}

.name{
    
    font-family: 'Rubik', sans-serif;
    color: #6C25FF;
    background-color: #F7F8F9;
    font-size: 13px;
    width: 100px;
    padding-left: 3px;
   
} 

.form-control{

    background-color:  #F7F8F9;
    color: #1D2226;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    height: 30px;
    width: 315px;
    border-style: none;
    padding-left: 3px;
    
} 

input:focus, textarea:focus, select:focus{
    outline: none;
}

.phoneInput{
    position: absolute;
    top: 200px;
    left: 20px;
    width: 325px;
    height: 49px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding-left: 10px;
}

.emailInput{
    position: absolute;
    top: 269px;
    left: 20px;
    width: 325px;
    height: 49px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding-left: 10px;
}

.passwordInput{
    position: absolute;
    top: 338px;
    left: 20px;
    width: 325px;
    height: 49px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding-left: 10px;
}

.companyInput{
    position: absolute;
    top: 407px;
    left: 20px;
    width: 325px;
    height: 49px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding-left: 10px;
}

.company{
    width: 107px;
}

.container p{
    position: absolute;
    top: 474px;
    left: 20px;
    
    width: 125px;
    height: 15px;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    color: #1D2226;
}

.btn1{
    position: absolute;
    top: 736px;
    left: 20px;
    width: 335px;
    height: 46px;
    width: 335px;
    height: 46px;
    border-radius: 6px;
    border-style: none;
    background-color: #6C25FF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;

}

#html{
    position: absolute;
    top: 499px;
    left: 20px;
    width: 22px;
    height: 22px;
    accent-color: #6C25FF;
}

.radioInput label{
    color: #1D2226;
    position: absolute;
    top: 502px;
    left: 54px;
    width: 23px;
    height: 17px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}


#radiono{
    position: absolute;
    top: 499px;
    left: 100px;
    width: 22px;
    height: 22px;
    
    width: 22px;
    height: 22px;
    accent-color: #6C25FF;
}

#check{
    position: absolute;
    top: 502px;
    left: 134px;
    width: 18px;
    height: 17px;
    color: #1D2226;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}